/* styles.css */

/* Custom Scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
  scrollbar-width: thin;
}

/* Track */
.custom-scrollbar::-webkit-scrollbar-track {
  background: #323232;
}

/* Handle */
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #323232;
  border-radius: 15px;
  height: 5px;
}

/* Handle on hover */
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #cfcfcf;
}
